<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088406402397-0k075epkmnrtgcba4n3q5kt9hdf83vk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088406402397-0k075epkmnrtgcba4n3q5kt9hdf83vk8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-4ZrTw73f8gLkO28HEv4MIqMK27trrsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088406402397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntu.Map</string>
	<key>PROJECT_ID</key>
	<string>song-87dbb</string>
	<key>STORAGE_BUCKET</key>
	<string>song-87dbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088406402397:ios:37a050aa42633a087324b4</string>
	<key>DATABASE_URL</key>
	<string>https://song-87dbb.firebaseio.com</string>
</dict>
</plist>