<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457911551293-njh9rqeb0qdcbo05uv497i74ni0qe0ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457911551293-njh9rqeb0qdcbo05uv497i74ni0qe0ht</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkKARtPT0lo_1ULTIvleh5QYilnnGdCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>457911551293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>garyray.hometeach01</string>
	<key>PROJECT_ID</key>
	<string>hometeach01-9fa46</string>
	<key>STORAGE_BUCKET</key>
	<string>hometeach01-9fa46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457911551293:ios:3882f5e761e8f2e66bf154</string>
	<key>DATABASE_URL</key>
	<string>https://hometeach01-9fa46.firebaseio.com</string>
</dict>
</plist>